<div>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <div class="progress">
      <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
        <circle class="progress-circle-back"
              cx="68" cy="100" r="55"></circle>
          <circle style="stroke-dasharray: 0 999"   class="progress-circle-prog circle-style"
                  cx="68" cy="100" r="55"></circle>
      </svg>
      <div class="progress-text" data-progress="progresso">{{progresso}}%</div>
  </div>

  <div>
